<!DOCTYPE html>
<html lang="en">
<head>
    <title>ReplCustoms : FV</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.jpg">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <script src="/scripts/secure.js"></script>
    <script src="/scripts/navbar.js"></script>
</head>
<body>
    <%= content %>
</body>
</html>