@import url('//fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
	background-color: snow;
	line-height: 1.2;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

.webpage-content-container {
	margin-left: 11%;
	margin-right: 11%;
	margin-top: 3%;
	margin-bottom: 4%;
}

.logo-top-container {
	align-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.center-custom {
	align-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

pd-high {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
	padding-left: 16px;
}