<!DOCTYPE html>
<html class="basic" lang="en-us">

<head>{% if title %}
	<title>Repl Customs - {{ title }}</title>{% else %}
	<title>Repl Customs</title>{% endif %}
	<!--- [Meta Data] --->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Search a database of Repl.it users for information.">
	<meta name="author" content="IreTheKID">
	<!--- [External Assets] --->
	<link rel="icon" href="static/images/repl_pixel.png" type="png">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<!--- [Google Fonts] --->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Open+Sans">
	<!--- [JQuery] --->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
	<script>
		jQuery('body').css('display','none');
		jQuery(document).ready(function() {
			jQuery('body').fadeIn(2000);
			jQuery('a').on('click',function(event){
				var thetarget = this.getAttribute('target')
				if (thetarget != "_blank"){
					var thehref = this.getAttribute('href')
					event.preventDefault();
					jQuery('body').fadeOut(function(){
						window.location = thehref});}});});
		setTimeout(function(){jQuery('body').fadeIn();},2000)
		jQuery(document).ready(function(){
			jQuery('select').formSelect();});
	</script>
{% if output == 'FORM' %}
	<script src="static/js/initialize.js"></script>
	<div class="webpage-content-container">
		<div class="logo-top-container">
			<a href='/'><img src="/static/images/repl_pixel.png" width="156" height="156"></a>
		</div>
		<h2 class="header center green-text">Repl Customs</h1>
		<h5 class="header center col s12 light">Search the database here.</h5>
		<div class="section"></div>
		<form method="GET" action="">
			{{ form.hidden_tag() }}
			<div class="row" style="width: 80%; padding: 32px 48px 0px 48px;">
				<div class="input-field col s12">
					{{ form.searchType }}
					{{ form.searchType.label }}
				</div>	
				<script>
					var selects = document.getElementById('searchType').children;
					selects[0].setAttribute("disabled", "true");
					// selects[2].setAttribute("disabled", "true");
					// Live select option disabling.
				</script>
				<div class='row'>
					<div class='input-field col s12'>
						{{ form.searchData.label }}
						{{ form.searchData }}
					</div>
				</div>
				<div class='row'>
					<div class='col s12 btn btn-large waves-effect green'>
						{{ form.submit(class_="fill-all") }}
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="static/js/script.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

{% elif output == 'USER' %}
	<script src="static/js/initialize.js"></script>
	<div class="webpage-content-container" style="margin-bottom: 8%">
		<div class="center-custom">
			<div class="row">
				<div class="col s12">
					<h2 class="header center black-text"><b>{{ user.name }}</b></h2>
					<div class="row">
							<div class="col s4"><div class="section"></div></div>
						<div class="col s2">
							<img class="circle z-depth-5" width="128" height="128" src="{{ user.avatar }}" alt="">
						</div>
						<div class="col s2">
							<p style="vertical-align: middle;">{{ user.bio }}</p>
						</div>
							<div class="col s4"><div class="section"></div></div>
					</div><br>
					{% if user.first_name %}<h4 class="header center col s12 light">{{user.first_name}} {{user.last_name}}</h2>
					{% endif %}
					<a class="waves-effect waves-light btn mt-5 border-radius-4" href="//repl.it{{user.url}}">Vist Profile</a>
				</div>
			</div>
		</div>
		<hr>
		<div class="row col s4">
			<div class="col s2"><div class="section"></div></div>
			<div class="col s2">
				<h6>CYCLES</h6>
				<h5 class="m-0"><a href="//repl.it{{user.url}}">{{user.cycles}}</a></h5>
			</div>
			<div class="col s2">
				<h6>DATE JOINED</h6>
				<h5 class="m-0"><a href="//repl.it{{user.url}}">{{timestamp}}</a></h5>
			</div>
			<div class="col s2">
				<h6>SUBSCRIPTION</h6>
				<h5 class="m-0"><a href="//repl.it{{user.url}}">{{sub}}</a></h5>
			</div>
			<div class="col s2">
				<h6>FAVORITE LANGUAGE</h6>
				<h5 class="m-0">
					<img src="{{user.languages[0].icon}}" width="24" height="24">
					<href="//repl.it{{user.url}}">{{user.languages[0].display_name}}
				</a></h5>
			</div>
			<div class="col s2"><div class="section"></div></div>
		</div>
		<br>
		<div class="row">
			<div class="col s6">
				<h4 class="header center col s12 light">Recent Posts</h4>
			</div>
			<div class="col s6">
				<h4 class="header center col s12 light">Recent Comments</h4>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<ul class="collapsible popout">
					{% if posts %}
					{% for post in posts[:5] %}
						<li>
							<div class="collapsible-header">
								<a href="{{post.url}}" target="_blank"><i class="material-icons">call_made</i></a>
								<b>[⬆️&nbsp;{{post.votes}}]</b> {{post.title}}
							</div>
							<div class="collapsible-body"  style="background-color: white">
								<div class="center-custom pd-high">
									<span style="margin: 16px;">
										{{post.content[:300]}}<b>...</b>
									</span>
								</div>
							</div>
						</li>
					{% endfor %}
					{% else %}
						<li>
							<div class="collapsible-header" style="background-color: white;">
								A problem occured when retrieving comments
							</div>
							<div class="collapsible-body pd-high center-custom" style="background-color: white;">
								Please try again later
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="col s6">
				<ul class="collapsible popout">
					{% if comments %}
					{% for comment in comments[:5] %}
						<li>
							<div class="collapsible-header">
								<a href="{{comment.url}}" target="_blank"><i class="material-icons">call_made</i></a>
								<b>[⬆️&nbsp;{{comment.votes}}]</b> Comment on: <b>{{comment.post}}</b>
							</div>
							<div class="collapsible-body" style="background-color: white">
								<div class="center-custom pd-high">
									<span style="margin: 16px; padding: 16px;">
										{{comment.content[:300]}}<b>...</b>
									</span>
								</div>
							</div>
						</li>
					{% endfor %}
					{% else %}
						<li>
							<div class="collapsible-header" style="background-color: white;">
								A problem occured when retrieving comments.
							</div>
							<div class="collapsible-body pd-high center-custom" style="background-color: white;">
								Please try again later.
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

{% elif output == 'LEADER'%}
	<script src="static/js/initialize.js"></script>
	<div class="webpage-content-container">
		<div class="logo-top-container">
			<a href='/'><img src="/static/images/repl_pixel.png" width="156" height="156"></a>
		</div>
		<h2 class="header center green-text">ReplTalk Leaderboard</h1>
		<div class="row">
			<div class="col s6">
				<ul class="collapsible">
				{% for inx, user in enumerate(leaderboard[0:20:2]) %}
					<li>
						<div class="collapsible-header" style="background-color: white">
							<ul class="collection" style="padding: 0px">
								<li class="collection-item avatar">
									<img src="{{user.avatar}}" alt="avater" class="circle" width="50" height="50">
									<span class="title">{{user.name}}</span>
									<p>(<b>{{user.cycles}}</b>)</p>
									<h5 href="" class="secondary-content">{{get_ordinal(leaderboard.index(user) + 1)}}</h5>
								</li>
							</ul>
						</div>
						<div class="collapsible-body pd-high center" style="background-color: white">
							<span>{{ user.bio }}<br></span>
							<a class="waves-effect waves-light btn mt-5 border-radius-4" href="//repl.it{{user.url}}">Vist Profile</a>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div class="col s6">
				<ul class="collapsible">
				{% for inx, user in enumerate(leaderboard[1:20:2]) %}
					<li>
						<div class="collapsible-header" style="background-color: white">
							<ul class="collection" style="padding: 0px">
								<li class="collection-item avatar">
									<img src="{{user.avatar}}" alt="avater" class="circle" width="50" height="50">
									<span class="title">{{user.name}}</span>
									<p>(<b>{{user.cycles}}</b>)</p>
									<h5 href="" class="secondary-content">{{get_ordinal(leaderboard.index(user) + 1)}}</h5>
								</li>
							</ul>
						</div>
						<div class="collapsible-body pd-high center" style="background-color: white">
							<span>{{ user.bio }}<br></span>
							<a class="waves-effect waves-light btn mt-5 border-radius-4" href="//repl.it{{user.url}}">Vist Profile</a>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

{% elif output == "POST" %}
	<script src="static/js/initialize.js"></script>
	<div class="webpage-content-container">
		<div class="logo-top-container">
			<a href='/'><img src="/static/images/repl_pixel.png" width="156" height="156"></a>
		</div>
		<h2 class="header center green-text">Repl Customs</h1>
		<h5 class="header center col s12 light">Search results for: "{{ sData }}"</h5>
		<div class="row">
			<div class="col s2"><div class="section"></div></div>
			<div class="col s8">
				{% if posts %}
				{% for post in posts %}
				<ul class="collapsible popout">
					<li>
						<div class="collapsible-header" style="background-color: white">
							<ul class="collection" style="padding: 0px">
								<li class="collection-item avatar">
									<img src="{{post.author.avatar}}" alt="avatar" class="circle" width="50" height="50">
									<p>
										<a href="//repl.it{{post.author.url}}">{{post.author.name }}</a>
										&nbsp;
										<b>({{post.author.cycles}})</b>
										<br>
										<b>{{str(post.timestamp).split(' ')[0]}}</b>
									</p>
									<span class="title">{{post.title}}<br>{{ post.content[:75] }}...</span>
									<h6 href="" class="secondary-content">[🔼<b>{{post.votes}}</b>]</h6>
								</li>
							</ul>
						</div>
						<div class="collapsible-body pd-high center" style="background-color: white">
							<span>{{ post.content[:300] }}...<br><br></span>
							<a class="waves-effect waves-light btn mt-5 border-radius-4" href="{{post.url}}">Vist Post</a>
						</div>
					</li>
				</ul>
				{% endfor %}
				{% else %}
					<h2 class="header center green-text">Whoops! 😅</h1>
					<h5 class="header center col s12 light"><b>No results found.</b></h5>
				{% endif %}
			</div>
			<div class="col s2"><div class="section"></div></div>
		</div>
	</div>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

{% endif %}
</html>
