<!DOCTYPE html>
<html class="basic" lang="en-us">

<head>{% if title %}
	<title>Repl Customs - {{ title }}</title>{% else %}
	<title>Repl Customs</title>{% endif %}
	<!--- [Meta Data] --->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Search a database of Repl.it users for information.">
	<meta name="author" content="IreTheKID">
	<meta http-equiv="refresh" content="180">
	<!--- [External Assets] --->
	<link rel="icon" href="static/images/repl_pixel.png" type="png">
	<link rel="stylesheet" href="static/css/main.css" type="text/css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" >
	<!--- [Google Fonts] --->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Open+Sans">
	<!--- [JQuery] --->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
	<script> 
		jQuery('body').css('display','none');
		jQuery(document).ready(function() {
			jQuery('body').fadeIn(2000);
			jQuery('a').on('click',function(event){
				var thetarget = this.getAttribute('target')
				if (thetarget != "_blank"){
					var thehref = this.getAttribute('href')
					event.preventDefault();
					jQuery('body').fadeOut(function(){window.location = thehref});}});});
		setTimeout(function(){jQuery('body').fadeIn();},2000)
	</script>
	<div class="webpage-content-container">
		<div class="logo-top-container">
			<img src="/static/images/repl_pixel.png" width="156" height="156">
		</div>
		<h2 class="header center green-text">Repl Customs</h1>
		<h5 class="header center col s12 light">A datase of Repl Talk users, posts, and more.</h5>
		<div class="section"></div>
		<div class="center-custom">
			<div class="col s12">
				<a class="waves-effect waves-light btn-large green" href="{{url_for('apps')}}">
					<i class="material-icons left">search</i>Get Started!
				</a>
			</div>
		</div>
		<div class="container" style="margin-top:0px;">
			<div class="row">
				<div class="col s12 m6">
					<div class="icon-block">
						<h1 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
						<h5 class="center">Built on a Solid Foundation</h5>
						<p class="light">
							The Repl Customs web-app is built on <a href="//repl.it/@mat1" target="_blank">
							mat1</a>'s <a href="//pypi.org/project/repltalk/" target="_blank">
							Repl Talk API wrapper package</a>.You have access to all kinds of Repl 
							Talk information, including board-specific posts, comment filtering, 
							upvote tracking and much more.
						</p>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="icon-block">
						<h1 class="center light-blue-text"><i class="material-icons">highlight</i></h2>
						<h5 class="center">Focus on What's Important</h5>
						<p class="light">
							While using Repl Customs, you can focus on the Information
							that matters most to you. With customized data reports, access to Repl
							Talk has never been more open. The world is at your fingertips!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer green">
		<div class="container">
			<div class="row">
				<div class="col l5 s12">
					<h5 class="white-text"><b>A Community Flask Project</b></h5>
					<p class="grey-text text-lighten-4">
						This Flask web-app was created and designed by IreTheKID and other Repl.it Community members,
						styled using the Google Materialize Design Language. I am not affiliated, associated, 
						authorized, endorsed by, or in any way officially connected to Repl.it, or any of its 
						subsidiaries or its affiliates.
					</p>
				</div>
				<div class="col l3 s12"></div>
				<div class="col l2 s12">
					<h5 class="white-text"><b>More</b></h5>
					<ul>
						<li><a class="white-text" href="//github.com/IreTheKID/Repl-Customs">Repository</a></li>
						<li><a class="white-text" href="/license">License</a></li>
					</ul>
				</div>
				<div class="col l2 s12">
					<h5 class="white-text"><b>Follow Me!</b></h5>
					<ul>
						<li><a class="white-text" href="//twitter.com/IreTheKID" target="_blank">Twitter</a></li>
						<li><a class="white-text" href="//github.com/IreTheKID" target="_blank">Github</a></li>
						<li><a class="white-text" href="//repl.it/@IreTheKID" target="_blank">Repl.it</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			&copy; IreTheKID. MIT License Approved.
			</div>
		</div>
	</footer>

	<script src="static/js/script.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>

</html>